body, html {
    height: 100%;
    background-color: #4ABDAC;
}
* {
    box-sizing: border-box;
}

.bigolecontainer {
    display: flex;
    flex-direction: row;
    width: 500vw;
}

hr {
    margin-bottom: 6rem;
    border-width: 0;
    border-top: 2px solid #000;
    width: 40px;
    text-align: left;
    margin-left: 50px;
}

li {
    display: -webkit-box;
    padding-bottom: 50px;
}
    
.font-title {
    font-size: 50px;
    color: #DFDCE3;
    font-family: 'Staatliches', cursive;
    margin-left: auto;
    margin-right: 0;
}

.font-subheader {
    font-size: 30px;
    color: #DFDCE3;
    font-family: 'Staatliches', cursive;
    margin-left: auto;
    margin-right: 0;
}

.medium-text {
    font-size: 30px;
    line-height: 40px;
    color: #DFDCE3;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Staatliches', cursive;
}

.small-text {
    font-family: 'Major Mono Display', monospace;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-size: 19px;
}

.weird-text {
    font-family: 'Major Mono Display', monospace;
}

.footer {
    width: 100%;
    background-color: #4ABDAC;
    height: 500px;
}

.column-container {
    padding-bottom: 200px;
    column-gap: 10%;
    column-count: 2;
}

.portfolio {
    display: flex;
    padding-bottom: 200px;
}

.portfolioitemcontainer {
    width: 400px;
    height: 400px;
}

.portfolioitem {
    width: 80%;
    padding: 10%;
    box-sizing: content-box;
}

.search {
    background-color: green;
}

.stats {
    background-color: red;
}

.fish {
    background-color: orange;
}

.timelinecontainer {
    width: 100%;
}

.timeline-panel {
    margin-right: 50%;
}

.timeline-image {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid DFDCE3;
    margin: 0 50px;
}

.timelinecontainer::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: DFDCE3;
}

.face {
    position: relative;
}

.introductioncontainer {
    width: 200%;
    height: 100%;
    padding-top: 30%;
    margin: auto 10%;
}

.bio {
    display: inline-flex;
}

#slash {
    padding: 0 20px;
    color: #F7B733;
}

/* ::-webkit-scrollbar { 
    display: none; 
} */

.arrowright {
    position: fixed;
    bottom: 0;
    right: 0;
}

.arrowleft {
    transform: rotate(180deg);
    position: fixed;
    bottom: 0;
    left: 0;
}

.section {
    order: 1;
    height: 100vh;
    width: 100vw;
}

.biographycontainer {
    margin: auto 10%;
}