body, html {
    height: 100%;
    background-color: #5498a9;
    margin: 0 10%;
}
* {
    box-sizing: border-box;
}
hr {
    margin-bottom: 6rem;
    border-width: 0;
    border-top: 2px solid #000;
    width: 40px;
    text-align: left;
    margin-left: 50px;
}

li {
    display: -webkit-box;
    padding-bottom: 50px;
}
    
.font-title {
    font-size: 50px;
    color: #000000;
    padding-left: 50px;
    font-family: 'Staatliches', cursive;
}

.header {
    padding-top: 200px;
    height: 100%;
}


.medium-text {
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Staatliches', cursive;
}

.small-text {
    font-family: 'Major Mono Display', monospace;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-size: 19px;
}

.weird-text {
    font-family: 'Major Mono Display', monospace;
}

.footer {
    width: 100%;
    background-color: 5498a9;
    height: 500px;
}

.column-container {
    padding-bottom: 200px;
    column-gap: 10%;
    column-count: 2;
}

.portfolio {
    display: flex;
    padding-bottom: 200px;
}

.portfolioitemcontainer {
    width: 400px;
    height: 400px;
}

.portfolioitem {
    width: 80%;
    padding: 10%;
    box-sizing: content-box;
}

.search {
    background-color: green;
}

.stats {
    background-color: red;
}

.fish {
    background-color: orange;
}

.timelinecontainer {
    width: 100%;
}

.timeline-panel {
    margin-right: 50%;
}

.timeline-image {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid black;
    margin: 0 50px;
}

.timelinecontainer::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: black;
}

.face {
    position: relative;
}
