body, html {
    height: 100%;
    background-color: #5498a9;
    margin: 0 120px;
}
    
.font-title {
    font-size: 50px;
    color: #000000;
    padding-left: 50px;
    font-family: 'Staatliches', cursive;
}

.header {
    padding-top: 200px;
    height: 100%;
}

.small-text {
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-size: 19px;
}

.weird-text {
    font-family: 'Major Mono Display', monospace;
}

.footer {
    width: 100%;
    background-color: red;
    height: 500px;
}

.column-container {
    padding-bottom: 200px;
    column-gap: 110px;
    column-count: 2;
}
